<div class="row">
  {{#each product in products}}
    <div class="col-md-3 col-xs-12">
      <img src="/images/not_available.jpg" style="max-height: 100%; max-width: 100%">
      <div class="row">
        <div class="col-md-8">
          {{ product.name }}
        </div>
        <div class="col-md-4">
          {{ product.price }}
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary" {{action "add_cart" product}}>Add to cart</button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
